---
import AboutLayout from '../layouts/AboutMe.astro';
const { frontmatter } = Astro.props;
---

<AboutLayout>
  <!-- https://docs.astro.build/zh-tw/guides/markdown-content/ -->
  <!-- https://ithelp.ithome.com.tw/articles/10315100?sc=rss.iron -->
  <!-- 利用 markdown 來顯示 about me content -->
  <!-- <h1>{aboutPost.frontmatter.title}</h1>
  <h2>Post author: {aboutPost.frontmatter.author}</h2>
  <p>{aboutPost.frontmatter.description}</p> -->
  <!-- <p>this is about astro</p> -->
  <hr />
  <ul class="mt-[25px]">
    Log
    <div class="mt-[20px] ml-[25px]">
      <li class="mb-[10px]">2024-06 Get CEH Practical Certificate</li>
      <li class="mb-[10px]">2024-06 Get Driving License</li>
      <li class="mb-[10px]">2024-03 Get CEH Certificate</li>
    </div>
  </ul>
  <ul class="mt-[25px]">
    On the web
    <div class="flex mt-[20px]">
      <li class="w-20 pl-[25px]">
        <a href="https://medium.com/@cladtsai" target="_blank">
          <img src="/public/image/icon-medium.png" alt="" />
        </a>
      </li>
      <li class="w-20 pl-[25px]">
        <a href="https://github.com/clad000" target="_blank">
          <img src="/public/image/icon-github.png" alt="" />
        </a>
      </li>
      <li class="w-20 pl-[25px]">
        <a href="https://www.pixiv.net/users/8913470/artworks" target="_blank">
          <img src="/public/image/icon-pixiv.png" alt="" />
        </a>
      </li>
    </div>
  </ul>

  <!-- <div>{awaitPost.frontmatter.title}</div> -->
  <slot />
</AboutLayout>
