---
// import Layout from '../layouts/BlogPost.astro';
import Layout from '../layouts/MyPost.astro';
---

<Layout>
	<p class="text-center">
		Hi, 我是 Clad, 目前在一間消費性電子產品公司擔任工程師, 主要使用的技術有 React、Tailwind、Python
		<br>
		<br>
		我也是一位宅宅, 喜歡動畫、Vtuber、日本文化, 有時間也會嘗試 2D、3D、VR、幣圈、區塊鏈相關的東西
	</p>
</Layout>
