---

---

<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <!-- Masthead img or video -->
    <img
      src="/image/masthead-1.png"
      alt=""
      class="absolute inset-0 min-w-full min-h-full object-cover opacity-50"
    />
  </div>
  <div>
    <!-- Masthead description -->
  </div>
</section>
